<div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100"><br><br>

        <div>

          <img src="logo.png" class="slogo" style="filter:saturate(600%);">
        </div>
        <div>
          <h1 class="stitle">Coordinator Applications</h1>
        </div>

      </div>
    </div>

    <div class="social-icons">
      <!-- <div layout="column"> -->
      <md-input-container>
            <label>Select Department</label>
            <md-select id="dept" ng-model="department" class="selectbox" ng-change="Ctrl.setDept()">
              <!-- <md-option ng-disabled=><em>None</em></md-option> -->
              <md-option ng-repeat="(key,val) in Ctrl.depts" ng-value="key" >
                <span style="font-size:0.6em;padding-top:0.6em;">{{key}}</span>
              </md-option>
            </md-select>
          </md-input-container>
<br><br>
          <md-input-container>
                <label>Select Position</label>
                <md-select ng-model="position" class="selectbox">
                  <!-- <md-option ng-disabled=><em>None</em></md-option> -->
                  <md-option ng-repeat="(key,value) in Ctrl.app[department]" ng-value="value">
                    <span style="font-size:0.6em;padding-top:0.6em;">{{value.name}}</span>
                  </md-option>
                </md-select>
              </md-input-container>
              <br><br>&emsp;
              <a href="submit.html" style="color:inherit;" target="_blank"><md-button  style="font-size: 18px">Submit Application</md-button></a>
            &emsp;  <md-button  ng-click="Ctrl.showPDF()" style="width:150px; font-size:18px;" >Get Application</md-button>
<br><br><br>
    <!-- </div> -->
     </div>
